[submodule "profile/capitnflam/zsh/zsh-syntax-highlighting"]
	path = profile/capitnflam/zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "profile/capitnflam/vim/editorconfig"]
	path = profile/capitnflam/vim/editorconfig
	url = git://github.com/editorconfig/editorconfig-vim.git
[submodule "profile/capitnflam/vim/gundo"]
	path = profile/capitnflam/vim/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "etc/vim/bundle/vim-latex"]
	path = etc/vim/bundle/vim-latex
	url = git@github.com:vim-latex/vim-latex.git
[submodule "etc/vim/bundle/vim-ft-bzl"]
	path = etc/vim/bundle/vim-ft-bzl
	url = git@github.com:bazelbuild/vim-ft-bzl.git
[submodule "etc/vim/bundle/plantuml-syntax"]
	path = etc/vim/bundle/plantuml-syntax
	url = git@github.com:aklt/plantuml-syntax.git
